<!-- <div class="filter-lawyers">
  online, legal field, price range
</div><br><br><br><br><br> -->



<div class="lawyers-container">
  <div class ="search-results">
    These are the lawyers we found for you:
  </div>
  <% @lawyers.each do |lawyer| %>
  <%= link_to lawyer_path(lawyer), :action => 'go' do %>
  <div class="lawyer-card">
    <div class="lawyer-avatar">
      <%=  image_tag("https://picsum.photos/100/100/?random") %>
    </div>
    <div class="lawyer-decription">
      <h5><%= lawyer.user.first_name.capitalize + " " + lawyer.user.last_name.capitalize %></h5>
      <ul>
        <li><%= truncate(lawyer.description, :length => 35) %></li>
        <li><i class="fas fa-euro-sign"></i> Price per hour: €<%= lawyer.hourly_rate %></li>
        <% if lawyer.is_first_consultation_free %>
        <li><i class="fas fa-handshake"></i> First consultation is free!</li>
        <% end %>
      </ul>
    </div>
    <% if lawyer.is_online  %>
    <div class="online-circle">
    </div>
    <% end  %>
  </div>

  <% end %>
  <% end %>

</div>
