<div class="container">
  <div class="row">
    <div class="col-10 offset-col-2">

      <div class="profile-position">
        <%= cl_image_tag(@lawyer.photo, class: "lawyer-avatar avatar-large") %>
          <h4 class="profile-text"> <%= @lawyer.user.first_name %> <%= @lawyer.user.last_name %>  </h4>
      </div>
    </div>

    <% if @lawyer.is_online  %>
      <div class="online-circle-green-large", width="20px", data-icon-online="<%= @lawyer.id %>"></div>
    <% else %>
      <div class="online-circle-red-large", width="20px", data-icon-offline="<%= @lawyer.id %>"></div>
    <% end  %>

  </div>



  <div class="basic-info">
    <p class="text-position"><i class="fas fa-map-marker-alt"></i>  &nbsp;&nbsp;<%= @lawyer.user.address %>  </p>
    <p class="text-position"><i class="fas fa-gavel"></i>  &nbsp;<%= @lawyer.categories %></p>
    <p class="text-position"><i class="fas fa-dollar-sign"></i> &nbsp;&nbsp;&nbsp;Price per hour: <%= humanized_money_with_symbol @lawyer.hourly_rate %> </p>
    <% if @lawyer.is_first_consultation_free %>
      <p class="text-position"><i class="fas fa-check"></i> &nbsp;Book first videochat for free </p>
    <% end %>
  </div>

  <div class="button-position">
    <% if @lawyer.is_online %>
    <%= link_to "Book Videochat", new_appointment_path(@lawyer), class: "btn btn-outline-primary", id: "bigger-btn-light"%>
    <%= link_to "Videochat now", new_lawyer_consultation_path(@lawyer), class: "btn btn-primary", id: "bigger-btn-primary"%>
    <% else %>
    <%= link_to "Book Videochat", new_appointment_path(@lawyer), class: "btn btn-primary", id: "bigger-btn-light"%>
    <%= link_to "Videochat now", new_lawyer_consultation_path(@lawyer), class: "btn btn-light disabled", id: "bigger-btn-primary"%>
    <% end  %>
  </div>

  <div id="description-position">
    <h5>About <%= @lawyer.user.first_name %> </h5>
    <p><%= @lawyer.description %></p>
  </div>

  <div id="description-position">
    <h5>Reviews</h5>
  </div>
  <div class="review-position">
    <%= image_tag 'review', id: "review-size" %>
  </div>

</div>


