<div class="container">
  <div class="row">
    <div class="col-10 offset-col-2">

      <div class="profile-position">
        <%= image_tag(@lawyer.photo, class: "lawyer-avatar avatar-large") %>
          <h4 class="profile-text"> <%= @lawyer.user.first_name %> <%= @lawyer.user.last_name %>  </h4>
      </div>
    </div>
  </div>

  <div class="basic-info">
    <p class="text-position"><i class="fas fa-map-marker-alt"></i> <%= @lawyer.user.address %>  </p>
    <p class="text-position"><i class="fas fa-gavel"></i>  <%= truncate(@lawyer.categories, length: 35) %></p>
    <p class="text-position"><i class="fas fa-dollar-sign"></i>  Price per hour: <%= humanized_money_with_symbol @lawyer.hourly_rate %> </p>
    <% if @lawyer.is_first_consultation_free %>
      <p class="text-position"><i class="fas fa-check"></i> Book first videochat for free </p>
    <% end %>
  </div>

  <div class="button-position">
    <%= link_to "Book Videochat", "#", class: "btn btn-light"%>
    <%= link_to "Videochat now", new_lawyer_consultation_path(@lawyer), class: "btn btn-primary"%>
  </div>

  <div id="description-position">
    <h5>About <%= @lawyer.user.first_name %> </h5>
    <p><%= @lawyer.description %></p>
  </div>

  <div class="review-position">
    <%= image_tag 'reviews', id: "review-size" %>
  </div>

</div>


