<div class="container message-container">
<br>
  <div class="row">
    <div class="lawyer-availability">
      <p>Set your current availability:&nbsp;&nbsp;&nbsp;&nbsp; </p>
      <%= render "consultations/button_group", lawyer: @lawyer  %>
    </div>
  </div>

  <div class="row">
    <h1>Manage your appointments</h1>


    <% @consultations.each do |consultation| %>

    <div class="col-12">
      <div class="message">
        <div class="appointment-time message-body">
          <h3> <%= consultation.appointment_time.strftime('%H:%M') %> </h3>
          <h4> <%= consultation.appointment_time.strftime('%A, %b %d') %> </h4>
        </div>
        <div class="message-body">
          <h4><%= consultation.client.user.full_name %></h4>
        </div>
        <div class="message-status">
            <div data-consultation-id= <%= consultation.id %>>
              <% if consultation.appointment_status == "pending" %>
                <%= link_to 'Reject', update_appointment_status_path(consultation, :appointment_status => 'rejected'), method: 'patch', remote: true, class: 'btn btn-sm btn-danger btn-smaller'%>
                <%= link_to 'Accept', update_appointment_status_path(consultation, :appointment_status => 'accepted'), method: 'patch', remote: true, class: 'btn btn-sm btn-primary btn-smaller'%>
                <% else %>
                  <div class='status'><p id='approved'><%= consultation.appointment_status.capitalize %></p>
                  </div>
              <% end %>
            </div>

        </div>

      </div>
    </div>
    <% end %>
  </div>
</div>
