<div class="appointment-container">
  <div class="row">
    <div class="col-12">
      <div class="hero-image" id="hero-long">
        <div class="hero-text">
          <h2>Book a new appointment</h2>
          <br>
          <p>Please select a time for your appointment (Central European Standard Time):</p>
          <br>
          <%= simple_form_for(@consultation, :method => :post, :url => new_appointment_path) do |f| %>
          <%= text_field_tag :appointment_time, nil, id: "appointment_time_input"%>

            <% if @ask_for_credit_card %>
            <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="Justitia.today"
            data-email="<%= current_user.email %>"
            data-description="Justitia videochat"></script>
            <% else %>
            <br>
            <%= f.submit "SUBMIT", :class=>"btn btn-light", style: "margin-top: 40px; letter-spacing: 1px;" %>
            <% end %>
            <% end %>
            </div>
          </div>
      </div>
  </div>
</div>

<script>
  $('#appointment_time_input').datetimepicker({ uiLibrary: 'materialdesign', footer: true, modal: true, format: 'HH:MM yyyy-mm-dd'});
</script>
