<div class="container">
  <div class="row">
    <div class="div col-6 offset-3">
      <h1>New appointment</h1>
      <p>Please select a date and time for your appointment in the timezone of the lawyer (Central European Standard Time):</p>

      <%= simple_form_for(@consultation, :method => :post, :url => new_appointment_path) do |f| %>
      <%= text_field_tag :appointment_time, nil, id: "appointment_time_input"%>
      <% if @ask_for_credit_card %>
      <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="Justitia.today"
      data-email="<%= current_user.email %>"
      data-description="Justitia videochat"></script>
      <% else %>
      <%= f.submit "submit" %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#appointment_time_input').datetimepicker({ uiLibrary: 'bootstrap4', footer: true, modal: true, format: 'HH:MM yyyy-mm-dd'});
</script>
